@model CPA_Project.Areas.Admin.Models.Questao
@{
    ViewBag.Title = "EscolherQuestao";
}

@ViewBag.id

<div class="pure-g">
    <div class="pure-u-24-24">
        <form class="pure-form pure-form-stacked" method="POST" action="">
            <fieldset>
                <legend>Avaliação</legend>
                <input type="checkbox" value="1" id="Questao_id" name="Questao_id"/>Questao1
                <button type="submit" class="pure-button pure-button-primary">Criar</button>
            </fieldset>
        </form>
    </div>
</div>