@model List<CPA_Project.Areas.Admin.Models.AdminQuestao>
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

<p>Avaliação acadêmica</p>
<form id="formAvaliacao" method="get">
    <table class="pure-table">
        <thead>
            <tr>
                <th>Pergunta</th>
                <th>Nunca</th>
                <th>Raramente</th>
                <th>Geralmente</th>
                <th>Muitas vezes</th>
                <th>Sempre</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Descricao</td>
                <td>
                    <input type="radio" name="Alternativa" value="1" />
                </td>
                <td>
                    <input type="radio" name="Alternativa" value="2" />
                </td>
                <td>
                    <input type="radio" name="Alternativa" value="3" />
                </td>
                <td>
                    <input type="radio" name="Alternativa" value="4" />
                </td>
                <td>
                    <input type="radio" name="Alternativa" value="5" />
                </td>
            </tr>
        }
    </table>
</form>
<p><input type="submit" class="pure-button" id="save" value="Enviar"></p>