<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta author="CPATeam">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPA - Online</title>
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <!-- Fonte utilizada no formulário -->
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- CSS Estilizando a fonte -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <!-- CSS Estilizando o tema -->
    <link id="style_color" href="~/Content/assets/css/themes/default.css" rel="stylesheet" />
    <!-- CSS Estilizando o alinhamento -->
    <link href="~/Content/assets/css/pages/login.css" rel="stylesheet" type="text/css" />
    <!-- Ícone -->
    <link rel="icon" type="image/png" href="~/Content/assets/img/favicon.png" />
</head>
<body>
        @RenderBody()
</body>
</html>